# Gerado por IAGlobal Dependency Agent
mcp
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-doc
annotated-types
anyio
attrs
babel
brotli
build
cachebox
cbor2
certifi
cffi
charset-normalizer
click
colorama
contourpy
courlan
cryptography
cycler
datasets
dateparser
ddgs
deepdiff
dill
diskcache
distro
docutils
duckduckgo_search
fake-useragent
fastapi
filelock
fonttools
frozenlist
fsspec
gguf
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
grpclib
h11
h2
hf-xet
hpack
htmldate
httpcore
httplib2
httpx
httpx-sse
huggingface_hub
hyperframe
iaglobal
id
idna
iniconfig
jaraco.classes
jaraco.context
jaraco.functools
jeepney
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
jusText
keyring
kiwisolver
llama_cpp_python
lxml
lxml_html_clean
lz4
markdown-it-py
MarkupSafe
matplotlib
mcp
mdurl
more-itertools
mpmath
multidict
multiprocess
networkx
nh3
noiseprotocol
numpy
ollama
openai
orderly-set
packaging
pandas
peft
pillow
pip
playwright
pluggy
primp
prometheus_client
propcache
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydantic-settings
pyee
Pygments
PyJWT
PyNaCl
pyparsing
pyproject_hooks
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
readme_renderer
referencing
regex
requests
requests-toolbelt
rfc3986
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
SecretStorage
sentence-transformers
sentencepiece
setuptools
shellingham
six
sniffio
socksio
sse-starlette
starlette
sympy
tenacity
threadpoolctl
tld
tokenizers
torch
tqdm
trafilatura
transformers
trl
twine
typer
typing_extensions
typing-inspection
tzdata
tzlocal
uritemplate
urllib3
uvicorn
uvloop
watchdog
websockets
wget
Wikipedia-API
xxhash
yarl
ruff
jedi-language-server

